@font-face {
    font-family: 'Iosevka Nerd Font Mono';
    src: url('webwb/Iosevka-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Nerd Font Mono';
    src: url('webwb/Iosevka.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Nerd Font Mono';
    src: url('webwb/Iosevka-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Nerd Font Mono';
    src: url('webwb/Iosevka-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
